html,
body,
#root {
  margin: 0;
  height: 100%;
}

html,
body {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

body {
  overflow: hidden;
}

#root,
#root * {
  -webkit-user-select: none;
  user-select: none;
}

#root input,
#root textarea {
  -webkit-user-select: text;
  user-select: text;
}
